<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_car">
    <ros2_control name="carbot" type="system">
        <hardware>
            <plugin>ros2_control_demo_example_11/CarlikeBotSystemHardware</plugin>
                        
            <param name="serial_port">/dev/ttyACM0</param>  <!-- Arduino port -->
            <param name="baud_rate">115200</param>
                  
        </hardware>
        
        <!-- Steering Joint -->
        <joint name="steering_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <!-- Traction Joint -->
        <joint name="traction_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
   
    </ros2_control>
    
    <!-- <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control"> 
            
            <ros> 
                <remapping>asc/reference_unstamped:=cmd_vel</remapping>       
                <remapping>asc/odometry:=odom</remapping> 
                <remapping>asc/tf_odometry:=tf</remapping> 
                <robot_base_frame>base_link</robot_base_frame>

            </ros> 
            <parameters>$(find race_it)/config/controller/my_controllers.yaml</parameters>
        </plugin>
    </gazebo> -->
    
</robot>
